<p-dialog
  [(visible)]="visible"
  (onHide)="onHide()"
  [header]="dialogHeader"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '44rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '95vw' }">

  <form [formGroup]="boqForm" (ngSubmit)="onSubmit()">
    <div class="grid">

      <!-- Material -->
      <div class="col-12 md:col-6">
        <div class="field">
          <p-floatlabel variant="in">
            <p-select
              inputId="materialId"
              formControlName="materialId"
              [options]="materialOptions"
              optionLabel="label"
              optionValue="value"
              [filter]="true"
              [filterPlaceholder]="'projectTabs.boq.dialog.searchMaterial' | translate"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="isFieldInvalid('materialId')">
            </p-select>
            <label for="materialId">{{ 'projectTabs.boq.dialog.material' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('materialId')" class="p-error">{{ 'projectTabs.boq.dialog.materialRequired' | translate }}</small>
        </div>
      </div>

      <!-- Unit -->
      <div class="col-12 md:col-6">
        <div class="field">
          <p-floatlabel variant="in">
            <p-select
              inputId="unitId"
              formControlName="unitId"
              [options]="unitOptions"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="isFieldInvalid('unitId')">
            </p-select>
            <label for="unitId">{{ 'projectTabs.boq.dialog.unit' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('unitId')" class="p-error">{{ 'projectTabs.boq.dialog.unitRequired' | translate }}</small>
        </div>
      </div>

      <!-- Constructor -->
      <div class="col-12 md:col-6">
        <div class="field">
          <p-floatlabel variant="in">
            <p-select
              inputId="constructorId"
              formControlName="constructorId"
              [options]="constructorOptions"
              optionLabel="label"
              optionValue="value"
              [filter]="true"
              [filterPlaceholder]="'projectTabs.boq.dialog.searchConstructor' | translate"
              [showClear]="true"
              class="w-full"
              appendTo="body"
              [class.ng-invalid]="isFieldInvalid('constructorId')">
            </p-select>
            <label for="constructorId">{{ 'projectTabs.boq.dialog.constructor' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('constructorId')" class="p-error">{{ 'projectTabs.boq.dialog.constructorRequired' | translate }}</small>
        </div>
      </div>

      <!-- Description -->
      <div class="col-12">
        <div class="field">
          <p-floatlabel variant="in">
            <textarea
              pTextarea
              id="description"
              formControlName="description"
              rows="2"
              class="w-full"
              [class.ng-invalid]="isFieldInvalid('description')">
            </textarea>
            <label for="description">{{ 'projectTabs.boq.dialog.description' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('description')" class="p-error">{{ 'projectTabs.boq.dialog.descriptionRequired' | translate }}</small>
        </div>
      </div>

      <!-- Actual Quantity -->
      <div class="col-12 md:col-6">
        <div class="field">
          <p-floatlabel variant="in">
            <p-inputnumber
              inputId="actualQuantity"
              formControlName="actualQuantity"
              [minFractionDigits]="0"
              [maxFractionDigits]="4"
              [min]="0"
              class="w-full"
              [class.ng-invalid]="isFieldInvalid('actualQuantity')">
            </p-inputnumber>
            <label for="actualQuantity">{{ 'projectTabs.boq.dialog.actualQuantity' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('actualQuantity')" class="p-error">{{ 'projectTabs.boq.dialog.quantityRequired' | translate }}</small>
        </div>
      </div>

      <!-- Unit Price -->
      <div class="col-12 md:col-6">
        <div class="field">
          <p-floatlabel variant="in">
            <p-inputnumber
              inputId="price"
              formControlName="price"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [min]="0"
              class="w-full"
              [class.ng-invalid]="isFieldInvalid('price')">
            </p-inputnumber>
            <label for="price">{{ 'projectTabs.boq.dialog.unitPrice' | translate }} <span class="required-asterisk">*</span></label>
          </p-floatlabel>
          <small *ngIf="isFieldInvalid('price')" class="p-error">{{ 'projectTabs.boq.dialog.priceRequired' | translate }}</small>
        </div>
      </div>

      <!-- Subtotal (readonly preview) -->
      <div class="col-12">
        <div class="boq-subtotal-preview">
          <span class="label">{{ 'projectTabs.boq.dialog.subtotal' | translate }}:</span>
          <span class="value">{{ computedSubTotal | number:'1.2-2' }}</span>
        </div>
      </div>

    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'projectTabs.boq.dialog.cancel' | translate"
      icon="pi pi-times"
      (onClick)="onHide()"
      severity="secondary"
      [outlined]="true">
    </p-button>
    <p-button
      [label]="(isEditMode ? 'projectTabs.boq.dialog.update' : 'projectTabs.boq.dialog.addItem') | translate"
      icon="pi pi-check"
      (onClick)="onSubmit()"
      [loading]="isSubmitting()"
      [disabled]="boqForm.invalid">
    </p-button>
  </ng-template>
</p-dialog>
