<div class="p-4">
  <form [formGroup]="step1Form" (ngSubmit)="onSubmit()">
    @if (isLoading()) {
    <div class="flex justify-center align-items-center p-6">
      <p-progressSpinner></p-progressSpinner>
    </div>
    }

    <!-- Agreement Details -->
    <div class="col-12">
      <h3 class="text-xl font-semibold mb-4">{{ 'wizard.step1.agreementDetails' | translate }}</h3>

      <div formGroupName="agreementDto">
        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input  pInputText id="projectNumber" formControlName="projectNumber" readonly class="w-full" />
                <label for="projectNumber">{{ 'wizard.step1.projectNumber' | translate }}</label>
              </p-floatlabel>
              <small class="text-color-secondary">{{ 'wizard.step1.projectNumberHint' | translate }}</small>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-datepicker inputId="agreementDate" formControlName="agreementDate" dateFormat="mm/dd/yy"
                  [showIcon]="true" [readonlyInput]="true" styleClass="w-full"></p-datepicker>
                <label for="agreementDate">{{ 'wizard.step1.createdAt' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText  class="ng-dirty ng-invalid" id="projectName" formControlName="projectName" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('agreementDto.projectName')" />
                <label for="projectName">{{ 'wizard.step1.projectName' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="businessSector" formControlName="businessSector" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('agreementDto.businessSector')" />
                <label for="businessSector">{{ 'wizard.step1.businessSector' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-datepicker inputId="estimatedStartDate" formControlName="estimatedStartDate" dateFormat="mm/dd/yy"
                  [showIcon]="true" [maxDate]="maxStartDate()" (onSelect)="onStartDateChange($event)"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.estimatedStartDate')}"
                  styleClass="w-full"></p-datepicker>
                <label for="estimatedStartDate">{{ 'wizard.step1.estimatedStartDate' | translate }} </label>
              </p-floatlabel>
              @if (isFieldInvalid('agreementDto.estimatedStartDate')) {
              <small class="text-red-500 block mt-1">{{ getFieldError('agreementDto.estimatedStartDate') | translate
                }}</small>
              }
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-datepicker inputId="estimatedEndDate" formControlName="estimatedEndDate" dateFormat="mm/dd/yy"
                  [showIcon]="true" [minDate]="minEndDate()" (onSelect)="onEndDateChange($event)"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.estimatedEndDate')}"
                  styleClass="w-full"></p-datepicker>
                <label for="estimatedEndDate">{{ 'wizard.step1.estimatedEndDate' | translate }} </label>
              </p-floatlabel>
              @if (isFieldInvalid('agreementDto.estimatedEndDate')) {
              <small class="text-red-500 block mt-1">{{ getFieldError('agreementDto.estimatedEndDate') | translate
                }}</small>
              }
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-select inputId="countryId" formControlName="countryId" [options]="countries()" optionLabel="name"
                  optionValue="id" [placeholder]="'wizard.step1.selectCountry' | translate"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.countryId')}"
                  styleClass="w-full"></p-select>
                <label for="countryId">{{ 'wizard.step1.country' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-select inputId="cityId" formControlName="cityId" [options]="cities()" optionLabel="name" optionValue="id"
                  [placeholder]="'wizard.step1.selectCity' | translate"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.cityId')}" styleClass="w-full"></p-select>
                <label for="cityId">{{ 'wizard.step1.city' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-select inputId="agreementTypeId" formControlName="agreementTypeId" [options]="agreementTypes()"
                  optionLabel="name" optionValue="id" [placeholder]="'wizard.step1.selectAgreementType' | translate"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.agreementTypeId')}"
                  styleClass="w-full"></p-select>
                <label for="agreementTypeId">{{ 'wizard.step1.agreementType' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-inputNumber inputId="projectArea" formControlName="projectArea" [min]="0" [showButtons]="false"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.projectArea')}" styleClass="w-full"
                  inputStyleClass="w-full"></p-inputNumber>
                <label for="projectArea">{{ 'wizard.step1.projectArea' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <p-inputNumber inputId="drillingQuantity" formControlName="drillingQuantity" [min]="0" [showButtons]="false"
                  [ngClass]="{'ng-invalid': isFieldInvalid('agreementDto.drillingQuantity')}" styleClass="w-full"
                  inputStyleClass="w-full"></p-inputNumber>
                <label for="drillingQuantity">{{ 'wizard.step1.drillingQuantity' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Client Information -->
    <div class="col-12">
      <h3 class="text-xl font-semibold mb-4">{{ 'wizard.step1.clientInfo' | translate }}</h3>

      <div formGroupName="clientDto">
        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="contactPerson" formControlName="contactPerson" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('clientDto.contactPerson')" />
                <label for="contactPerson">{{ 'wizard.step1.contactPerson' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="contactPersonNumber" formControlName="contactPersonNumber" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('clientDto.contactPersonNumber')" />
                <label for="contactPersonNumber">{{ 'wizard.step1.contactPersonNumber' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="representerName" formControlName="representerName" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('clientDto.representerName')" />
                <label for="representerName">{{ 'wizard.step1.representerName' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="representerNameNumber" formControlName="representerNameNumber" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('clientDto.representerNameNumber')" />
                <label for="representerNameNumber">{{ 'wizard.step1.representerNameNumber' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Land Information -->
    <div class="col-12">
      <h3 class="text-xl font-semibold mb-4">{{ 'wizard.step1.landInfo' | translate }}</h3>

      <div formGroupName="landInformationDto">
        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="basinName" formControlName="basinName" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.basinName')" />
                <label for="basinName">{{ 'wizard.step1.basinName' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="village" formControlName="village" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.village')" />
                <label for="village">{{ 'wizard.step1.village' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="directorate" formControlName="directorate" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.directorate')" />
                <label for="directorate">{{ 'wizard.step1.directorate' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="plotNumber" formControlName="plotNumber" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.plotNumber')" />
                <label for="plotNumber">{{ 'wizard.step1.plotNumber' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="basinNumber" formControlName="basinNumber" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.basinNumber')" />
                <label for="basinNumber">{{ 'wizard.step1.basinNumber' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>

          <div class="col-12 md:col-6 mb-3">
            <div class="field">
              <p-floatlabel variant="in">
                <input pInputText id="floorNumber" formControlName="floorNumber" class="w-full"
                  [class.ng-invalid]="isFieldInvalid('landInformationDto.floorNumber')" />
                <label for="floorNumber">{{ 'wizard.step1.floorNumber' | translate }} </label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button (will be triggered by parent) -->
    <button type="button" (click)="onSubmit()" style="display: none;"></button>
  </form>
</div>