<form [formGroup]="form" (ngSubmit)="onSubmit()" class="change-password-dialog flex flex-column gap-3">
  @if (errorMessage()) {
    <p-message severity="error" [text]="errorMessage()!" styleClass="w-full"></p-message>
  }

  <div class="field">
    <label for="currentPassword">{{ 'changePassword.currentPassword' | translate }}</label>
    <p-password
      inputId="currentPassword"
      formControlName="currentPassword"
      [toggleMask]="true"
      [feedback]="false"
      autocomplete="current-password"
      styleClass="w-full"
      [inputStyleClass]="'w-full'">
    </p-password>
    @if (currentPassword.invalid && currentPassword.touched) {
      <small class="p-error block mt-1">{{ 'changePassword.errors.currentPasswordRequired' | translate }}</small>
    }
  </div>

  <div class="field">
    <label for="newPassword">{{ 'changePassword.newPassword' | translate }}</label>
    <p-password
      inputId="newPassword"
      formControlName="newPassword"
      [toggleMask]="true"
      autocomplete="new-password"
      styleClass="w-full"
      [inputStyleClass]="'w-full'">
    </p-password>
    @if (newPassword.invalid && newPassword.touched) {
      <small class="p-error block mt-1">
        @if (newPassword.errors?.['required']) {
          {{ 'changePassword.errors.newPasswordRequired' | translate }}
        } @else if (newPassword.errors?.['minlength']) {
          {{ 'changePassword.errors.newPasswordMinLength' | translate }}
        }
      </small>
    }
  </div>

  <div class="field">
    <label for="confirmNewPassword">{{ 'changePassword.confirmNewPassword' | translate }}</label>
    <p-password
      inputId="confirmNewPassword"
      formControlName="confirmNewPassword"
      [toggleMask]="true"
      [feedback]="false"
      autocomplete="new-password"
      styleClass="w-full"
      [inputStyleClass]="'w-full'">
    </p-password>
    @if (confirmNewPassword.touched && (confirmNewPassword.errors?.['required'] || form.errors?.['passwordMismatch'])) {
      <small class="p-error block mt-1">
        @if (confirmNewPassword.errors?.['required']) {
          {{ 'changePassword.errors.confirmPasswordRequired' | translate }}
        } @else {
          {{ 'changePassword.errors.passwordMismatch' | translate }}
        }
      </small>
    }
  </div>

  <div class="flex justify-content-end gap-2 mt-2">
    <p-button
      type="button"
      [label]="'common.cancel' | translate"
      [text]="true"
      (onClick)="onCancel()">
    </p-button>
    <p-button
      type="submit"
      [label]="'changePassword.submit' | translate"
      icon="pi pi-check"
      [loading]="loading()"
      [disabled]="loading()">
    </p-button>
  </div>
</form>
